body {
margin-top: 15px;
}
h1 {
	font-size: 34px;
}
.span12 {
	margin-left: 10px !important;
}
table.properties {
	border-collapse: collapse;
}
td.span2 {
	background-color: #ccc;
	margin: 1em;
	max-height: 10em;
	max-width: 10em;
	padding: .4em;
	text-align: center;
	border: 10px solid white;
}
.properties .span2:hover {
	background-color: #666;
	cursor: pointer;
}
