body {
margin-top: 15px;
}
.span12 {
	margin-left: 10px !important;
}
.desks .span2 {
	background-color: #ccc;
	margin: 1em;
	max-height: 10em;
	max-width: 10em;
	padding: .4em;
	text-align: center;
}
.desks .span2:hover {
	background-color: #666;
	cursor: pointer;
}
