<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include "::stylesheets.html.twig" %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
