{% extends 'SlumlordsBundle:Default:index.html.twig' %}

{% block body %}
	<form action="{{ path('slumlords_admin_course_edit', {'id': course.id})  }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}

	    <input type="submit" />
	</form>
{% endblock %}