{% extends 'SlumlordsBundle:Default:index.html.twig' %}

{% block body %}
<h1>Desks</h1>

<div class="desks">
    {% for desk in desks %}
        <div class="span2">
            <strong>{{ desk.id }}</strong>
            <p>{{ desk.accountID }}</p>
            <p>${{ desk.rent }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
