<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Fighting Slumlords{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% include "SlumlordsBundle:Default:stylesheets.html.twig" %}
</head>
<body data-spy="scroll">
    <div class="container">
        <div class="row">
            {% include "SlumlordsBundle:Default:navigation.html.twig" %}

            <div class="span12">
                {% block body %}
                <img src="http://1.bp.blogspot.com/-Q5DcF4l4G2E/TcRW65FSXfI/AAAAAAAADso/9PiZxiErhJo/s400/slumlord.jpg" alt="Fighting Slumlords" align="left" />
                <div>
                    <h2>0160 Class Sessions</h2>
                    <h2>0030 Slumlords</h2>
                    <h2>0004 Courses</h2>
                    <h2>5032 Logins</h2>
                </div>


                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-large btn-inverse" href="{{ path('fos_user_security_logout') }}">Logout</a>
                {% else %}
                    <a class="btn btn-large btn-primary" href="{{ path('fos_user_security_login') }}">Login</a>
                {% endif %}
                {% endblock %}
            </div>
        </div>
        <footer>
            
        </footer>
    </div> <!-- /container -->
    {% block foot_script %}
        {% javascripts
            '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
            '@SlumlordsBundle/Resources/public/js/lib/*.js'
            '@SlumlordsBundle/Resources/public/js/*.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock foot_script %}
</body>
</html>

