{% extends 'SlumlordsBundle:Default:index.html.twig' %}

{% block body %}
<div style="float: right;">
    <select>
      <option>{{ course.name }}</option>
    </select>
</div>

<h1>Properties</h1>

<table class="table properties" cellspacing="10" cellpadding="10">
    <tbody>
    {% for i in 1..course.columns %}
        <tr>
            {% for j in 1..course.rows %}
                {% set property = course.getProperties[(j-1)*course.columns+(i-1)] %}
                <td class="span2">
                    {{ property.id }}<br />
                    Rent: {{ property.rent }}
                </td>
            {% endfor %}
        </td>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
